We start with first metric exploration. We try to start with the easiest one.

In [2]:
import geopandas
import contextily
from IPython.display import GeoJSON

In [3]:
neis = geopandas.read_file(
    "http://darribas.org/gds4ae/_downloads/44b4bc22c042386c2c0f8dc6685ef17c/neighbourhoods.geojson"
)

In [4]:
neis

,neighbourhood,neighbourhood_group,geometry
0,Palacio,Centro,"MULTIPOLYGON (((-3.70584 40.42030, -3.70625 40..."
1,Embajadores,Centro,"MULTIPOLYGON (((-3.70384 40.41432, -3.70277 40..."
2,Cortes,Centro,"MULTIPOLYGON (((-3.69796 40.41929, -3.69645 40..."
3,Justicia,Centro,"MULTIPOLYGON (((-3.69546 40.41898, -3.69645 40..."
4,Universidad,Centro,"MULTIPOLYGON (((-3.70107 40.42134, -3.70155 40..."
...,...,...,...
123,Alameda de Osuna,Barajas,"MULTIPOLYGON (((-3.58243 40.46381, -3.58078 40..."
124,Timón,Barajas,"MULTIPOLYGON (((-3.57990 40.50159, -3.58002 40..."
125,Aeropuerto,Barajas,"MULTIPOLYGON (((-3.57786 40.51038, -3.57579 40..."
126,Casco Histórico de Barajas,Barajas,"MULTIPOLYGON (((-3.57446 40.47267, -3.57475 40..."
127,Corralejos,Barajas,"MULTIPOLYGON (((-3.59957 40.46867, -3.59870 40..."

<ipython-input-10-b698f071d2f5>:1: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  neis.area

0      0.000156
1      0.000110
2      0.000063
3      0.000079
4      0.000101
         ...
123    0.000209
124    0.001020
125    0.002668
126    0.000065
127    0.000491
Length: 128, dtype: float64

In [8]:
areas = neis.to_crs(
    epsg=32630
).area
areas

0      1.471037e+06
1      1.033253e+06
2      5.920485e+05
3      7.420313e+05
4      9.476156e+05
           ...
123    1.970292e+06
124    9.595089e+06
125    2.510801e+07
126    6.092016e+05
127    4.624504e+06
Length: 128, dtype: float64

In [7]:
smallest = neis[areas == areas.min()]
smallest

,neighbourhood,neighbourhood_group,geometry
98,Atalaya,Ciudad Lineal,"MULTIPOLYGON (((-3.66195 40.46338, -3.66364 40..."